<div data-v-5a4abb8f="" data-v-7be53ed1="" class="page-guest">
    <div data-v-5a4abb8f="" class="page-bg"
         style="background-image: url(&quot;https://qnm.hunliji.com/o_1dl6nq3uvfv81ho71a8mf5f1gl3s.png?imageView2/1/w/750/h/1334&quot;);"></div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 8;">
        <div data-v-3c790054="" data-ele="10170-ele_0" class="animate-ele"
             style="width: 7.13333rem; height: 13.8133rem; left: 1.70667rem; z-index: 0; top: 1.4rem; animation: 3000ms ease-in-out 2000ms 1 normal both running fadeIn;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_0"
                                 src="https://qnm.hunliji.com/o_1dl6nqgkgin1omd1j8cm5v1i661d.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 7;">
        <div data-v-3c790054="" data-ele="10170-ele_1" class="animate-ele"
             style="width: 6.44rem; height: 1.49333rem; left: 1.81333rem; z-index: 0; top: 2.93333rem; animation: 2000ms ease-in-out 3000ms 1 normal both running fadeInDown30per;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_1"
                                 src="https://qnm.hunliji.com/o_1dl6nqk9dlps1ai9i96c4smus1p.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 6;">
        <div data-v-3c790054="" data-ele="10170-ele_2" class="animate-ele"
             style="width: 4.98667rem; height: 0.78667rem; left: 2.52rem; z-index: 0; top: 4.4rem; animation: 2000ms ease-in-out 3500ms 1 normal both running fadeInDown30per;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_2"
                                 src="https://qnm.hunliji.com/o_1dl6nqn8p1hoht1b1808di3sa925.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 5;">
        <div data-v-3c790054="" data-ele="10170-ele_3" class="animate-ele"
             style="width: 8.66667rem; height: 13.2533rem; left: 0.86667rem; z-index: 0; top: 1.70667rem; animation: 500ms ease-in-out 500ms 1 normal both running fadeIn;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_3"
                                 src="https://qnm.hunliji.com/o_1dl6nqr401rj718qte35cickk32h.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 4;">
        <div data-v-3c790054="" data-ele="10170-ele_4" class="animate-ele"
             style="width: 9.50667rem; height: 12.1067rem; left: 0.33333rem; z-index: 0; top: 0.65333rem; animation: 3000ms ease-in-out 4000ms 1 normal both running fadeInDown;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_4"
                                 src="https://qnm.hunliji.com/o_1dl6nqvlecr9urg7dh12t81ldp2t.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 3;">
        <div data-v-3c790054="" data-ele="10170-ele_5" class="animate-ele"
             style="width: 11.7733rem; height: 17.88rem; left: -0.53333rem; z-index: 0; top: -0.4rem; animation: 3000ms ease-in-out 500ms 1 normal both running zoomIn;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_5"
                                 src="https://qnm.hunliji.com/o_1dl6nr2nu1ut41uggvqnuppn3139.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 2;">
        <div data-v-3c790054="" data-ele="10170-ele_6" class="animate-ele"
             style="width: 18.3867rem; height: 22.5733rem; left: -2.4rem; z-index: 0; top: -0.8rem; animation: 2000ms ease-in-out 500ms 1 normal both running fadeIn;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_6"
                                 src="https://qnm.hunliji.com/o_1dl6nr626gn11lplfgb1u833of3l.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 1;">
        <div data-v-3c790054="" data-ele="10170-ele_7" class="animate-ele"
             style="width: 10rem; height: 16.2667rem; left: 0rem; z-index: 0; top: 0rem;"><!----> <!----> <img
                data-v-3c790054="" data-ele="10170-ele_7"
                src="https://qnm.hunliji.com/o_1dl6v58ek2rmunkafrbai1m2e2f.jpg" class="animate-img"></div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 9;">
        <div data-v-3c790054="" data-ele="10170-3362" class="animate-ele"
             style="width: 7.02667rem; height: 4.06667rem; left: 1.49333rem; z-index: 0; top: 6.05333rem; animation: 2000ms ease-in-out 1000ms 1 normal both running fadeIn;">
            <div data-v-bea338ca="" data-v-3c790054="" data-ele="10177-53168"
                 style="word-break: break-word; font-size: 0.8rem; color: rgb(202, 148, 144); text-align: justify; font-family:华文行楷; white-space: pre-wrap; transform-origin: left top; transform: scale(0.5); width: 14rem; height: 1.41333rem; line-height: 1.49067rem; margin-top: -1.1rem;">
        马少阳，邸晓蕾诚邀您参加于四月二十一号的婚宴，位置为山西省大同市左云县金山国际大酒店，期待您的光临。
            </div>
            <div data-v-3c790054="" data-ele="10170-3362" class="animate-img"
                 style="-webkit-mask-image: url(&quot;https://qnm.hunliji.com/o_1dl6ntapc1vq684eaddjj16fa4d.jpg&quot;); -webkit-mask-size: 100% 100%;"></div>
        </div>

    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="width: 6rem; height: 4rem; left: 4.5rem; top: 11rem; z-index: 10;">
        <div class="ele-text eles" data-id="copy-1646208264576" data-type="text" pid="" type="text" layername="文本6"
             signsort="1" namesign="" copyindex="1"
             style="left: -0.1rem; top: 0rem; width: 3rem; height: auto; transform: rotate(0deg);">
            <div class="ani-wrap"
                 style="border-radius: 0px; border-color: rgb(153, 153, 153); border-style: solid; border-width: 0px; animation: unset;"
                 data-ani="1.5s ease 2.5s 1 normal both running fadeInLeft" data-ani-state=""><!----> <!---->
                <div data-link="" data-hash="" class="text-common text-ani"
                     style="font-family: xinkaiti; font-size: 18px; line-height: 1; letter-spacing: 3px; font-weight: bold; text-align: right; writing-mode: lr-tb; color: rgb(245, 244, 243); opacity: 1; padding: 5px; text-indent: 0px; display: none;"></div>
                <div data-link="" data-hash="" class="text-common text-editor xinkaiti"
                     style="font-family: xinkaiti; font-size: 18px; line-height: 1; letter-spacing: 3px; font-weight: bold; text-align: right; writing-mode: lr-tb; color: rgb(217, 178, 87); opacity: 1; padding: 5px; text-indent: 0px;">
                    RSVP/<br></div> <!----></div>
        </div>
        <div class="ele-text eles" data-id="copy-1646206653499" data-type="text" pid="" type="text" layername="文本6"
             signsort="1" namesign="" copyindex="3"
             style="left: 2.8rem; top: 0rem; width: 195px; height: auto; transform: rotate(0deg);">
            <div class="ani-wrap"
                 style="border-radius: 0px; border-color: rgb(153, 153, 153); border-style: solid; border-width: 0px; animation: unset;"
                 data-ani="1.5s ease 2.5s 1 normal both running fadeInRight" data-ani-state=""><!----> <!---->
                <div data-link="" data-hash="" class="text-common text-ani"
                     style="font-family: xinkaiti; font-size: 18px; line-height: 1; letter-spacing: 4px; font-weight: bold; text-align: left; writing-mode: lr-tb; color: rgb(119, 72, 14); opacity: 1; padding: 5px; text-indent: 0px; display: none;"></div>
                <div data-link="" data-hash="" class="text-common text-editor xinkaiti"
                     style="font-family: xinkaiti; font-size: 18px; line-height: 1; letter-spacing: 4px; font-weight: bold; text-align: left; writing-mode: lr-tb; color: rgb(202, 148, 144); opacity: 1; padding: 5px; text-indent: 0px;">
                    宾客回执<br></div> <!----></div>
        </div>
        <div class="ele-form f-input eles require has-ani" data-id="1646206133431" data-type="formInput" pid=""
             type="formInput" inputtype="text" layername="输入框" signsort="1"
             style="left: 1rem; top: 0.7rem; width: 215px; height: 32px; transform: rotate(0deg); box-shadow: rgb(153, 153, 153) 0px 0px 0px; opacity: 1;">
            <div class="ani-wrap"
                 style="background-color: rgb(255, 255, 255); animation: unset; border-radius: 5px; border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153);"
                 data-ani="1.5s ease 3.3s 1 normal both running zoomIn" data-ani-state="">
                <div class="f-input-wrap"><span class="require">*</span> <input type="text" placeholder="姓名"
                                                                                maxlength="12"
                                                                                id="name"
                                                                                style="font-family: 微软雅黑; font-size: 14px; color: rgb(110, 110, 110); opacity: 1; -webkit-text-fill-color: rgb(110, 110, 110);">
                </div>
            </div>
        </div>
        <div class="ele-form f-input eles require has-ani" data-id="1646212268180" data-type="formInput" pid=""
             type="formInput" inputtype="phone" layername="输入框" signsort="1"
             style="left: 1rem; top: 1.4rem; width: 215px; height: 32px; transform: rotate(0deg); box-shadow: rgb(153, 153, 153) 0px 0px 0px; opacity: 1;">
            <div class="ani-wrap"
                 style="background-color: rgb(255, 255, 255); animation: unset; border-radius: 5px; border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153);"
                 data-ani="1.5s ease 3.4s 1 normal both running zoomIn" data-ani-state="">
                <div class="f-input-wrap"><span class="require">*</span> <input type="text" placeholder="出席人数"
                                                                                maxlength="10000"
                                                                                id="member"
                                                                                style="font-family: 微软雅黑; font-size: 14px; color: rgb(110, 110, 110); opacity: 1; -webkit-text-fill-color: rgb(110, 110, 110);">
                </div>
            </div>
        </div>
        <div class="ele-form f-input eles require has-ani" data-id="1646210714133" data-type="formInput" pid=""
             type="formInput" inputtype="text" layername="输入框" signsort="1"
             style="left: 1rem; top: 2.1rem; width: 215px; height: 32px; transform: rotate(0deg); box-shadow: rgb(153, 153, 153) 0px 0px 0px; opacity: 1;">
            <div class="ani-wrap"
                 style="background-color: rgb(255, 255, 255); animation: unset; border-radius: 5px; border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153);"
                 data-ani="1.5s ease 3.6s 1 normal both running zoomIn" data-ani-state="">
                <div class="f-input-wrap"><span class="require">*</span> <input type="text" placeholder="到达时间与位置"
                                                                                maxlength="10000"
                                                                                id="way"
                                                                                style="font-family: 微软雅黑; font-size: 14px; color: rgb(110, 110, 110); opacity: 1; -webkit-text-fill-color: rgb(110, 110, 110);">
                </div>
            </div>
        </div>
        <div class="ele-form f-submit eles" data-id="1646206208010" data-type="formSubmit" id="1646206208010"
             style="left: 1rem; top: 3.5rem; width: 215px; height: 35px; transform: rotate(0deg); box-shadow: rgb(153, 153, 153) 0px 0px 0px;">
            <div class="ani-wrap"
                 style="background-color: rgb(92, 52, 27); animation: unset; border-radius: 1px; border-width: 0px; border-style: solid; border-color: rgb(153, 153, 153); line-height: 1; color: rgb(255, 255, 255); font-size: 16px; text-align: center; opacity: 1;"
                 data-ani="1.5s ease 3.8s 1 normal both running zoomIn" data-ani-state="">
                <div class="f-ovh" id="btn_submit">提交</div>
            </div>
        </div>
    </div>
</div>