<div data-v-5a4abb8f="" data-v-7be53ed1="" class="page-guest">
    <div data-v-5a4abb8f="" class="page-bg"
         style="background-image: url(&quot;https://qnm.hunliji.com/o_1dl6nq3uvfv81ho71a8mf5f1gl3s.png?imageView2/1/w/750/h/1334&quot;);"></div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 8;">
        <div data-v-3c790054="" data-ele="10170-ele_0" class="animate-ele"
             style="width: 7.13333rem; height: 13.8133rem; left: 1.70667rem; z-index: 0; top: 1.4rem; animation: 3000ms ease-in-out 2000ms 1 normal both running fadeIn;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_0"
                                 src="https://qnm.hunliji.com/o_1dl6nqgkgin1omd1j8cm5v1i661d.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 7;">
        <div data-v-3c790054="" data-ele="10170-ele_1" class="animate-ele"
             style="width: 6.44rem; height: 1.49333rem; left: 1.81333rem; z-index: 0; top: 2.93333rem; animation: 2000ms ease-in-out 3000ms 1 normal both running fadeInDown30per;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_1"
                                 src="https://qnm.hunliji.com/o_1dl6nqk9dlps1ai9i96c4smus1p.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 6;">
        <div data-v-3c790054="" data-ele="10170-ele_2" class="animate-ele"
             style="width: 4.98667rem; height: 0.78667rem; left: 2.52rem; z-index: 0; top: 4.4rem; animation: 2000ms ease-in-out 3500ms 1 normal both running fadeInDown30per;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_2"
                                 src="https://qnm.hunliji.com/o_1dl6nqn8p1hoht1b1808di3sa925.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 5;">
        <div data-v-3c790054="" data-ele="10170-ele_3" class="animate-ele"
             style="width: 8.66667rem; height: 13.2533rem; left: 0.86667rem; z-index: 0; top: 1.70667rem; animation: 500ms ease-in-out 500ms 1 normal both running fadeIn;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_3"
                                 src="https://qnm.hunliji.com/o_1dl6nqr401rj718qte35cickk32h.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 4;">
        <div data-v-3c790054="" data-ele="10170-ele_4" class="animate-ele"
             style="width: 9.50667rem; height: 12.1067rem; left: 0.33333rem; z-index: 0; top: 0.65333rem; animation: 3000ms ease-in-out 4000ms 1 normal both running fadeInDown;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_4"
                                 src="https://qnm.hunliji.com/o_1dl6nqvlecr9urg7dh12t81ldp2t.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 3;">
        <div data-v-3c790054="" data-ele="10170-ele_5" class="animate-ele"
             style="width: 11.7733rem; height: 17.88rem; left: -0.53333rem; z-index: 0; top: -0.4rem; animation: 3000ms ease-in-out 500ms 1 normal both running zoomIn;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_5"
                                 src="https://qnm.hunliji.com/o_1dl6nr2nu1ut41uggvqnuppn3139.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 2;">
        <div data-v-3c790054="" data-ele="10170-ele_6" class="animate-ele"
             style="width: 18.3867rem; height: 22.5733rem; left: -2.4rem; z-index: 0; top: -0.8rem; animation: 2000ms ease-in-out 500ms 1 normal both running fadeIn;">
            <!----> <!----> <img data-v-3c790054="" data-ele="10170-ele_6"
                                 src="https://qnm.hunliji.com/o_1dl6nr626gn11lplfgb1u833of3l.png" class="animate-img">
        </div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 1;">
        <div data-v-3c790054="" data-ele="10170-ele_7" class="animate-ele"
             style="width: 10rem; height: 16.2667rem; left: 0rem; z-index: 0; top: 0rem;"><!----> <!----> <img
                data-v-3c790054="" data-ele="10170-ele_7"
                src="https://qnm.hunliji.com/o_1dl6v58ek2rmunkafrbai1m2e2f.jpg" class="animate-img"></div>
    </div>
    <div data-v-3c790054="" data-v-5a4abb8f="" class="animate-ele-warp" style="z-index: 9;">
        <div data-v-3c790054="" data-ele="10170-3362" class="animate-ele"
             style="width: 7.02667rem; height: 4.06667rem; left: 1.49333rem; z-index: 0; top: 6.05333rem; animation: 2000ms ease-in-out 1000ms 1 normal both running fadeIn;">
            <div data-v-bea338ca="" data-v-3c790054="" data-ele="10177-53168"
                 style="word-break: break-word; font-size: 1.2rem; color: rgb(202, 148, 144); text-align: left; font-family: 华文楷体; white-space: pre-wrap; transform-origin: left top; transform: scale(0.5); width: 14rem; height: 1.41333rem; line-height: 1.49067rem; margin-top: -1.1rem;">
        马宁，胡静芳夫妇诚邀您定于四月二十一号为儿子马少阳，儿媳邸晓蕾举行的婚宴，二十号中午，晚上，二十一号早晚在西街社区北御隆湾，二十一号在金山四楼，期待您的光临
            </div>
            <div data-v-3c790054="" data-ele="10170-3362" class="animate-img"
                 style="-webkit-mask-image: url(&quot;https://qnm.hunliji.com/o_1dl6ntapc1vq684eaddjj16fa4d.jpg&quot;); -webkit-mask-size: 100% 100%;"></div>
        </div>

    </div>
</div>